/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 60px; /* reduced margins for better header alignment */
  position: relative;
  z-index: 5;
}

.nav-logo{
  width: 120px;
}

/* Desktop menu */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 60px;
  font-size: 18px;
  transition: right 0.4s ease;
}

/* Menu items */
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.nav-menu li a, .nav-menu li p {
  text-decoration: none;
  color: white;
  margin: 0;
  cursor: pointer;
}

/* underline image */
.nav-menu img {
  margin: auto;
  height: 8px;
}

/* Connect Button */
.nav-connect {
  padding: 14px 28px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-connect a {
  color: white; /* Set the text color to white */
  text-decoration: none; /* Remove the underline */
}

/* Mobile button (open/close) */
.nav-mob-open,
.nav-mob-close {
  display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    margin: 16px 20px;
  }

  .nav-logo{
    width: 100px;
  }

  .nav-connect {
    display: none;
  }

  /* show small burger icons */
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 24px;
    top: 20px;
    z-index: 50;
    width: 22px; /* smaller size */
    height: auto;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    right: -320px; /* hidden by default */
    background-color: #131212;
    width: 300px;
    height: 100%;
    z-index: 45;
    padding: 60px 24px;
    gap: 26px;
    transition: right 0.35s ease;
    box-shadow: -8px 0 20px rgba(0,0,0,0.6);
  }

  .nav-menu li {
    font-size: 20px;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 18px;
    width: 22px; /* smaller */
    cursor: pointer;
  }
}
